<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="smartosc" translate="label" sortOrder="10">
            <label>SmartOsc</label>
        </tab>
        <section id="article" translate="label" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Article</label>
            <tab>smartosc</tab>
            <resource>Smartosc_Article::article_configuration</resource>
            <group id="configuration_article" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Configuration</label>
                <field id="enable_article" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable Article Module is here</comment>
                </field>
                <field id="custom_limit_page" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Limit Page</label>
                    <source_model>Smartosc\Article\Model\Config\Source\Custom</source_model>
                    <comment>Number of items is displayed per page</comment>
                </field>
            </group>
        </section>
    </system>
</config>